{% extends '::layoutiAdmin.html.twig' %}

{% block body -%}
    <h1>Incident edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('expert_incident') }}">
            Retour sur la liste
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
