{% extends '::layoutiAdmin.html.twig' %}

{% block body -%}
    <h1>Incident creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('expert_incident') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
