
{# src/Cert/UserBundle/Ressources/views/layout.html.twig #}

{# on etend notre layout #}
{% extends "CertIncidentBundle::layouti.html.twig" %}

{% block body %}
    
    {# on affiche les messages flash que definissent les controleurs du bundle #}
    <div>

        {% for key, message in app.session.flashbag.all() %}
            <div class="alert alert-{{ key }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}

        {# on definit ce block, dans lequel vont venir s'inserer les autres vues du bundle #}

        {% block fos_user_content %}
        
        {% endblock fos_user_content %}
    </div>

{% endblock %}
