{% extends '::layoutiAdmin.html.twig' %}

{% block body -%}
    <h1>Edition d'une Annonce </h1>
    <hr>
    <div class="well">
    	{{ form(edit_form) }}
    
  	{{ form(delete_form) }}
       <a href="{{ path('admin_annonce') }}" class="btn btn-sm btn-primary">
            <i class="icon-chevron-left"></i>Retour à la liste
        </a>
    </div>
{% endblock %}
 