{% extends "::layouti.html.twig" %}

{% block title %} 
	 {{ parent() }} 
{% endblock %}

{% block body %}
	<h2>Roles</h2>
	<hr>
	
	<div class="well">
		Il est une structure d’alerte et d’assistance sur internet, chargée d’une mission de veille et de réponses aux attaques informatiques.<br/> 
		Il a pour rôle : 
		<ul>
			<li>
				De mener des sensibilisations afin d’informer la population locale sur les effets néfastes des cybermenaces et la cybercriminalité de même que les cyberattaques ;
			</li>
			<li>
				De soutenir la gestion et réponses des incidents en aidant les organismes étatiques et sociétés privées à coordonner les services proactifs mise en place pour la réduction des incidents liés à la sécurité informatique ;
			</li>
			<li>
				Aviser et conseiller les acteurs du secteur des TIC sur les bonnes pratiques ;
			</li>
			<li>
				Participer aux réseaux africain et mondial des CERT
			</li>
		</ul>
	</div>
	<hr>

	<h2>Missions</h2>
	<div class="well">
		Les missions et taches du CERT tournent autour des points suivants :
		<ul>
			<li>
				Analyse et gestion des incidents de sécurité et fournir une assistance de gestion de crise et réponse aux menaces et attaques ;
			</li>
			<li>
				Donner les alertes et faciliter les échanges  et discussions entre les acteurs pour une gestion efficace des incidents ;
			</li>
			<li>
				Coordonner avec les unités d’analyse et de gestion des incidents sectorielles et autres organisations du public, privé et les citoyens pour fournir les informations d’alerte spécifiques et des mesures de protection appropriées à mettre en place ;
			</li>
			<li>
				Sensibiliser les internautes sur les problèmes de sécurité et les aider à une utilisation rationnelle du cyberespace afin de bien le protéger ;
			</li>
			<li>
				Mettre en place une veille technologique en matière de la sécurité des systèmes d’information
			</li>
			<li>
				Réaliser des rapports et statistiques sur la cybersécurité
			</li>
			<li>
				Adhérer aux organisations internationales telles que le GRC, FIRST, IMPACT etc. pour une meilleure coordination de réponse  au niveau régional et international ;
			</li>
		</ul>
	</div>

	<hr>
	<h2>Taches</h2>
	<div class="well">
		Les taches sont principalement les suivants :
		<ul>
			<li>
				de centraliser les demandes d’assistance suite aux incidents des sécurités des attaques sur les réseaux et les systèmes d’information : réception des demandes, analyse des symptômes et éventuellement des incidents ;
			</li>
			<li>
				Traitement des alertes et réaction aux attaques informatiques : analyse technique, échange d’informations avec d’autres CERT, contribution à des études techniques spécifiques ;
			</li>
			<li>
				Etablissement et maintenance d’une base de données des vulnérabilités;
			</li>
			<li>
				Prévention par diffusion d’informations sur les précautions à prendre pour minimiser les  risques d’incident voire leurs conséquences ;
			</li>
			<li>
				Coordination éventuelle avec les autres entités telles que les centres de compétences réseaux, aux opérateurs, aux fournisseurs d’accès à Internet et aux CERTs nationaux et internationaux.
			</li>
			
		</ul>
	</div>

{% endblock %}