{% extends "::layouti.html.twig" %}

{% block title %} 
	 {{ parent() }} 
{% endblock %}

{% block body %}
	<h2>lutte contre la cybercriminalité: Le Sénégal à l'école européenne</h2>
	<div id="image_vulnerabilite">
        <div class="cadre_image">
            <img src="{{ asset('bundles/certincident/img/ecoleCybercriminalite.png') }}" 
            	 style= width="684" height="48"
            />
        </div>
    </div>
	<div class="well">
		<p>
			La cybercriminalité prend des proportions inquiétantes au Sénégal. Selon la directrice nationale de la police, "ce phénomène, dont les auteurs agissent rarement au sein de leur propre pays, menace notre société". D'où l'urgence de prendre des mesures. En cela, le Sénégal peut compter sur le Conseil de l'Europe. Un atelier de formation des formateurs des premiers intervenants en cybercriminalité s'est tenu, à cet effet, hier, à Dakar.
		</p> 
		<p>
			<a href="http://www.leral.net/Lutte-contre-la-cybercriminalite-Le-Senegal-a-l-ecole-europeenne_a153642.html" target="_blank">Plus de détail <i class="fa fa-2x-plus"></i></a>
		</p>
	</div>
{% endblock %}