{% extends "::layouti.html.twig" %}

{% block title %} 
	 {{ parent() }} 
{% endblock %}

{% block body %}
	<h2>Roles</h2>
	<hr>
	<div class="well">
		Il est une structure d’alerte et d’assistance sur internet, chargée d’une mission de veille et de réponses aux attaques informatiques.<br/> 
		Il a pour services : 
		<ul>
			<li>
				Services réactifs : alertes et avertissements, traitement des incidents, analyse des incidents, appui et coordination de la réponse aux incidents, fournir des informations sur des vulnérabilités existantes, 
			</li>
			<li>
				Services proactifs : annonces, veille technologique, diffusions d’informations relatives à la sécurité
			</li>
		</ul>
		<p>Parmi les taches du CERT nous constatons que la gestion des incidents est le point le plus important. Car nous pouvons dire que c’est lui qui est le plus lié à la stratégie de cybersécurité. 
La définition des rôles, ses missions et taches nous permettra de faire une bonne conception avant la réalisation de notre plateforme web pour le CERT national sénégalais.
</p>
	</div>
	<hr>
	<hr>
	

{% endblock %}