{# cet template n'herite de personne , tout comme le template inclus avec {% include %}. #}

<h4>Les derniers articles</h4>


	<ul class="nav nav-pills nav-stacked">

		{% for article in liste_articles %}
			
				<li><a href=" {{ path('sdzblog_voir', {'id': article.id}) }}">{{ article.titre }}<a/><li/>
			
		{% endfor %}

	<ul/>
