html,body, #page-wrapper, #wrapper{
    height: 100%;
}
body{
    background: #e0e0e0;
}
.index-container{
    background: #fff;
    padding-bottom: 100px;
}
.container-fluid {
    margin-right: 135px;
    margin-left: 138px;
}
#logo1{
    margin-left: 100px;
}

#logo2{
   margin-left: 1023px;
position: absolute;
float: left;
margin-top: -186px;
}
#idPresent{
margin-left: 349px;
position: absolute;
float: left;
margin-top: -119px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 51px;
}
#idBande{
	height: 27px;
	background-color: #1B1B1B;
    background-image: linear-gradient(to bottom, #222, #111);
    background-repeat: repeat-x;
    border-color: #252525;
}
#footer {
    border: 0px none;
    outline: 0px none;
    vertical-align: baseline;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #F9F0F0;
    background-color: #000;
    margin-top: 63px;
    margin-bottom: 0px;
}
#footer p{
    text-align: center;
}
.auteur{
    padding: 20px;
}
#cert_image{
	height: 117px;
}
#introduction {
    padding: 0px 20px 15px 0px;
    margin: 0px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0em;
}

#NousContacter{
	float: left;
	width: 230px;
	padding: 20px 0px 0px 50px;
}
#contenuPage{
	margin-top: 0;

}
#vulnerabilitePlace .panel-danger {
    border-color: #EBCCD1;
 
}
#vulnerabilitePlace .panel-danger .panel-body {
   
}


#boutonAlerte {
    margin-left: 74%;
    margin-top: 4%;
}
#contact {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    text-align: center;
    color: #a5d8c7;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
/*    background-color: #1F72A6;
    border-top: 1px solid #1b926c;*/
        padding-top: 50px;
    padding-bottom: 55px;
}

.col-lg-offset-2 {
    margin-left: -23.333%;
    margin-top: -3%;
}
.fa-3x {
    font-size: 3em;
    margin-top: -4%;
    margin-bottom: 2%;
}
#logo{
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: blue;
}q
#logocert{
    margin-top: -15px;
}
#myCarousel{

    clear: left;
    margin-right: 2em;
    border: 6px solid #000;
    line-height: 60px;
    text-align: center;
    margin-top: 20px;
}
#signalerIncident{
     margin-left: 80%;
    margin-top: 1%;
}   
.display-none{
    display: none;
}
ul.actions{
    padding-left: 0;
    margin-top: 15px;
}
ul.actions li {
    list-style-type:    none;
    display:            inline-block;
    margin-right:       5px;
}
.btn-flat{
    border: none;
    border-radius: 0;
}
div#myCarousel {
    width: 100%;
    margin: auto;
    border: none;
    box-shadow: 0px 7px 15px #E8E8E8;
    margin-bottom: 20px;
}
.carousel-control.left,
.carousel-control.right{
    background: none !important;
}
.btn{
        border-radius: 5px !important;
}
.resume-evenement{
    color: #000;
}
a.detail-btn {
    font-weight: bold;
    display: block;
    background: #f05f40;
    color: #fff;
    /* border-radius: 5px; */
    width: auto;
    padding: 10px;
    margin-bottom: 15px;
    border-bottom: 5px solid #B74A32;
    text-align: center;
}
li.info-item {
    margin-bottom: 16px;
    line-height: normal;
    width: 100%;
    box-shadow: 0px 0px 1px #3a3a3a;
    border-bottom: 1px solid #B9B8B8;
    text-align: left;
    padding: 5px;
}

#content{
    position: absolute;
    bottom: 44px;
    left: 36px;
}
#placeTitre{
    position: relative;
    bottom: 26px;
    left: 6px;
    font-weight: bold;
    display: block;
    background: #f05f40;
    color: #fff;
    width: 60px;
    text-align: center;
}
#placeImage{
    left:0px;
    bottom: 10px;
}
.vulnerabilite_container{
    margin-bottom: 20px;
}
.vulnerabilite_content{
    position: relative;
    box-shadow: 0px 0px 5px #c7C7C7;
    border: 1px solid #f1f1f1;
}
.vulnerabilite_content .cover{
    height:        150px;
    overflow:      hidden;
}
.vulnerabilite_content .cover img{
    width: 100%;
    height: auto;
}
.vulnerabilite_content a{
     position:          absolute;
    bottom:             0;
    background:         rgba(0, 0, 0, 0.6);
    color:              #fff;
    width:              100%;
    text-decoration:    none;
    padding:            10px;
    height:             45%;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 10px;
    padding-left: 10px;
}
.vulnerabilite_title{
    padding-left: 20px;
    background: #Fafafa;
    margin: 0;
    border-right: 5px solid #a3A3A3;
    margin-bottom: 20px;
    padding: 10px;
}
.sidebar{
    background: #fafafa;
    border-left: 1px solid #c7c7c7;
    padding-bottom: 30px;
}
.sidebar ul{
    padding: 0;
}
.sidebar h2{
    color: #3A3A3A;
    border-bottom: 5px solid grey;
}
#alerte{
    border-left: 1px solid #c7c7c7;
}
#alerte ul{
    padding-left:  0;
}
#authentification{
    margin-top: 20px;
    margin-left: -29px;
    box-shadow: 0px 7px 15px #E8E8E8;
    box-shadow: 0px 0px 5px #c7C7C7;
    border: 1px solid #f1f1f1;
}

#image_vulnerabilite .cadre_image{
    height:        250px;
    overflow:      hidden;
        margin-bottom: 20px;
}
#image_vulnerabilite .cadre_image img{
    width: 100%;
    height: auto;
}
.logoPartenaireContainer{
    width: 650px;
    height: 220px;
    margin: auto;
}
.logoPartenaire {
    float: left;
    height: 100px;
    margin-bottom: 15px;
}
