{# cet template n'herite de personne , tout comme le template inclus avec {% include %}. #}

<ul class="nav navbar-nav side-nav" id="menuAdmin">
    <li class="active">
        <a href="{{ path('fos_user_security_login') }}"><i class="fa fa-fw fa-dashboard"></i> Gestion-Vulnerabilite</a>
    </li>
    <li>
        <a href="{{ path('fos_user_security_login') }}"><i class="fa fa-fw fa-bar-chart-o"></i> Gestion-Incident</a>
    </li>
</ul>
